{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your decision
{% endblock %}

{% block styles %}
<style>

.btn-m {
    color: #fff;
    background-color: #00BFFF;
    border-color: #00BFFF;
}

.btn-f {
    color: #fff;
    background-color:#9400D3;
    border-color: #9400D3;
}

.divbild_old {
    width:360px;
    height:320px;
    margin:0 auto;
    overflow:hidden;
    border-radius: 15px;
    border-top: #dbdbdb 4px solid;
    border-left: #dbdbdb 4px solid;
    border-right: #dbdbdb 4px solid;
    border-bottom: #dbdbdb 4px solid;
}

.divbild {
    width:360px;
    height:319px;
    overflow:hidden;
    z-index:0;
    margin:0 auto;
    border-radius: 15px;
}

.divbild_test {
    width:360px;
    height:320px;
    overflow:hidden;
    border-radius: 15px;
    border-top: black 4px solid;
    border-left: black 4px solid;
    border-right: #9400D3 4px solid;
    border-bottom: #9400D3 4px solid;
}

.divbild_f {
    width:360px;
    height:320px;
    overflow:hidden;
    margin:0 auto;
    border-radius: 15px;
    border-top: #9400D3 4px solid;
    border-left: #9400D3 4px solid;
    border-right: #9400D3 4px solid;
    border-bottom: #9400D3 4px solid;
}

.divbild_m {
     width:360px;
    height:320px;
    overflow:hidden;
    margin:0 auto;
    border-radius: 15px;
    border-top: #00BFFF 4px solid;
    border-left: #00BFFF 4px solid;
    border-right: #00BFFF 4px solid;
    border-bottom: #00BFFF 4px solid;
}

.divprom_f{
    border-radius: 15px;
    margin:0 auto;
    border-top: #9400D3 4px solid;
    border-left: #9400D3 4px solid;
    border-right: #9400D3 4px solid;
    border-bottom: #9400D3 4px solid;
    font-style: italic;
    font-weight: bold;
}

.divprom_m{
    border-radius: 15px;
    margin:0 auto;
    border-top: #00BFFF 4px solid;
    border-left: #00BFFF 4px solid;
    border-right: #00BFFF 4px solid;
    border-bottom: #00BFFF 4px solid;
    font-style: italic;
    font-weight: bold;
}

.divprom {
    border-radius: 15px;
    margin:0 auto;
    border-top: #dbdbdb 0px solid;
    border-left: #dbdbdb 0px solid;
    border-right: #dbdbdb 0px solid;
    border-bottom: #dbdbdb 0px solid;
    font-style: italic;
    font-weight: bold;
}

.col-sm {
    text-align: center;
}
</style>

{% endblock %}
<!-- div bild old with 140% 140% & margin on both sides -4px allows to add a frame with perfect overlapping-->
{% block content %}


    {% if participant.vars.treat == 'verbal_only' %}

        <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
            <u>
                <a onclick="window.open('{% static 'Instructions2Verbal.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                    Click to review previous instructions
                </a>
            </u>
        </div>
    {% endif %}


    {% if participant.vars.treat == 'verbal_only_b' %}

        <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
            <u>
                <a onclick="window.open('{% static 'Instructions2Verbal_b.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                    Click to review previous instructions
                </a>
            </u>
        </div>
    {% endif %}

    {% if participant.vars.treat == 'no_info' %}

        <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
            <u>
                <a onclick="window.open('{% static 'Instructions2NoInfo.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                    Click to review previous instructions
                </a>
            </u>
        </div>
    {% endif %}
    <p>
        Please decide between the following illustrations. Which one do you think has the higher value? <br>
    </p>

    <br>

{% if participant.vars.treat != 'no_info' %}
<!-- Illustration 1, left side of the table -->

    <div class="row">
        <div class="col-sm" style="border-right: 1px solid black">
            <p>
                <u>Illustration 1:</u>
            </p>

            {% if participant.vars.treat == 'verbal_only' or participant.vars.treat == 'verbal_only_b'  %}
            <p>
                    The worker describes its performance as follows:
                </p>
                    <div class="divprom">
                        <p>
                            {{ promo_verbal_1 }}
                        </p>
                    </div>
            {% endif %}

        </div>


<!-- Illustration 2, right side of the table -->

        <div class="col-sm" style="border-left: 1px solid black;  text-align: center;">
            <p>
                <u>Worker 2:</u>
            </p>


            {% if participant.vars.treat == 'verbal_only' or participant.vars.treat == 'verbal_only_b' %}
                <p>
                    The worker describes its performance as follows:
                </p>

                    <div class="divprom">
                        <p>
                            {{ promo_verbal_2 }}
                        </p>
                    </div>

            {% endif %}

        </div>
    </div>

    <br>
{% endif %}
    <p>
        Please decide which worker you want to choose:
    </p>

    <br>
{% if participant.vars.treat == 'verbal_only' or participant.vars.treat == 'no_info'%}
    <div class="row">
        <div class="col-sm">
            {% if female_1 == 1 %}
                     <input type="button" id="button_1" name="chose_1" class="otree-btn-next btn btn-f" value="Illustration 1"/>
            {% else %}
                     <input type="button" id="button_1" name="chose_1" class="otree-btn-next btn btn-m" value="Illustration 1"/>
            {% endif %}
        </div>

        <div class="col-sm">
            {% if female_2 == 1 %}
            <input type="button" id="button_2" name="chose_2" class="otree-btn-next btn btn-f" value="Illustration 2"/>
            {% else %}
            <input type="button" id="button_2" name="chose_2" class="otree-btn-next btn btn-m" value="Illustration 2"/>
            {% endif %}

        </div>
    </div>
{% endif %}

{% if participant.vars.treat == 'verbal_only_b' %}
    <div class="row">
        <div class="col-sm">
            <input type="button" id="button_1" name="chose_1" class="otree-btn-next btn btn-primary" value="Illustration 1"/>
        </div>

        <div class="col-sm">

            <input type="button" id="button_2" name="chose_2" class="otree-btn-next btn btn-primary" value="Illustration 2"/>
        </div>
    </div>
{% endif %}

<input type="hidden" name="chose_2" id="id_chose_2" required  class="form-control">
<input type="hidden" name="chose_1" id="id_chose_1" required  class="form-control">

<button class="otree-btn-next btn btn-primary" style="display:none;" id="next_page">Submit</button>
{% endblock %}
{% block scripts %}
<script>
    button_1 = document.getElementById("button_1")
    button_2 = document.getElementById("button_2")
    button_1.addEventListener('click', click_illu1)
    button_2.addEventListener('click', click_illu2)

    function click_illu1() {
        var field1 = document.getElementById('id_chose_1');
        field1.value = 1;
        var field2 = document.getElementById('id_chose_2');
        field2.value = 0;
        var next_button = document.getElementById("next_page");
        next_button.click();
    }

    function click_illu2() {
        var field1 = document.getElementById('id_chose_2');
        field1.value = 1;
        var field2 = document.getElementById('id_chose_1');
        field2.value = 0;
        var next_button = document.getElementById("next_page");
        next_button.click();
    }

</script>

{% endblock %}