{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to this task
{% endblock %}

{% block content %}


    <p>
        You will receive a fixed payment of <b>$0.30</b>. Additionally, you can receive a bonus of up to <b>$5.00</b>.
    </p>
    <p>
        Please carefully read the following instructions before starting to work.
        To be eligible for payment, you have to perform all tasks within the next 2 hours.
    </p>
    <p>
        At any point in time, you will be able to review previous instruction by clicking on
        "Click to review previous instructions" in the right top corner of your screen.
    </p>

    <br>


    {% next_button %}

{% endblock %}
