{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to this task
{% endblock %}

{% block content %}

<p>
    You will receive a fixed payment of £1.5. Additionally, half of the participants will receive a £3 <b>bonus</b>.
    This bonus is awarded based on your performance on the task and a decision of a third party.
</p>
<p>
    Please carefully read the following instructions before starting to work.
    Note that there will be an attention check. If you do not pass it, you are not eligible to participate in this task. To be eligible for payment, you have to perform all tasks within the next 2 hours.
</p>
<p>
    At any point in time, you will be able to review previous instruction by clicking on “Click to review previous instructions” in the right top corner of your screen.
</p>


    <p>
        <label for="workerID">Please indicate your Prolific ID, so that we can send you your bonus, if applicable.</label>
    </p>
    <p>
        <input class="textinput" name="workerID" id="workerID" required oninvalid="setCustomValidity('Please enter your worker ID.')" oninput="setCustomValidity('')">
    </p>

    <br>

    {% next_button %}

{% endblock %}
