{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your task
{% endblock %}

{% block content %}
<p>
    In the following it is your task to complete a math and science test.
    On the test, you will be asked to answer up to 20 questions from the Armed Services Vocational Aptitude Battery (ASVAB).
    Each question will test your aptitude in one of the following five categories:
    General Science, Arithmetic Reasoning, Math Knowledge Mechanical Comprehension, and Assembling Objects.
    In addition to being used by the military to determine which jobs armed service members are qualified for performance on
    the ASVAB is often used as a measure of cognitive ability by academic researchers.
</p>
<p>
    You will be presented with each of the 20 questions on separate pages.
    You will be given up to 30 seconds to answer each question, although you may push the ‘Next’-button at the bottom of the page
    to answer a question before the 30 seconds are up.
</p>
<p>
    Whether or not you receive a bonus depends on whether a third party thinks you performed well on the test.
</p>

    {% next_button %}

{% endblock %}


