

{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Attention check
{% endblock %}

{% block styles %}
<style>
.dropdown{
    width: auto;
    height: calc(2.25rem + 2px);
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.numberinput{
    display: block;
    max-width: 100px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
</style>
{% endblock %}

{% block content %}

Which of the following statements is true?

<form>
    <div class="form-group required">
        <label class="col-form-label" for="id_testq_0">Whether or not you receive a bonus depends on...</label>
        <div class="controls  field-testq">
            <ul id="id_testq">
                <li>
                    <label for="id_testq_0">
                        <input type="radio" name="testq" value="1" required="" id="id_testq_0" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                        ... a coinflip.
                    </label>
                </li>

                <li>
                    <label for="id_testq_1">
                        <input type="radio" name="testq" value="2" required="" id="id_testq_1" class="form-check-input" onclick="document.getElementById('id_testq_0').setCustomValidity('')">
                     ... whether a third party thinks I performed well on the test.
                    </label>
                </li>

                <li>
                    <label for="id_testq_2">
                        <input type="radio" name="testq" value="3" required="" id="id_testq_2" class="form-check-input" onclick="document.getElementById('id_testq_0').setCustomValidity('')">
                     ... whether I complete the test in less then 5 minutes.
                    </label>
                </li>

                <li>
                    <label for="id_testq_3">
                        <input type="radio" name="testq" value="4" required="" id="id_testq_3" class="form-check-input" onclick="document.getElementById('id_testq_0').setCustomValidity('')">
                     There is no bonus in this task
                    </label>
                </li>
            </ul>
        </div>
    </div>
</form>

<br>


{% next_button %}


{% endblock %}
