{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ihre Aufgabe
{% endblock %}


{% block content %}

<p>Im folgenden sehen Sie 2 Bilder von kreative Ideen. Diese wurden von Innovatoren (TeilnehmerInnen in einem vorhergehenden Experiment) angefertigt.
   Die Innovatoren hatten die Aufgabe sich einen Begriff auszudenken (z.B. ein Objekt oder eine Aktion) und diesen mit vorgegebenen Materialien darzustellen.
<!--
    <ol>
        <li>
            <b>Original</b>:
            The word is <b>not</b> among a random set of 50 illustrated words from a similar task.
        </li>
        <li>
            <b>Recognizable</b>:
            People can <b>recognize the illustrated word</b> when they see the illustration.
        </li>
    </ol>
!-->
    <p>
        Im folgenden ist es Ihr Ziel <b> die kreative Idee mit dem höheren Wert zu wählen</b>.
        Der Wert einer kreativen Idee setzt sich wie folgt zusammen:
    </p>
    <ul>
        <li>
            <b>Wert = 0</b> wenn die Idee <b>nicht originell ist</b>
        <ul>
            <li>
             Eine Idee ist <b>originell</b>, wenn <b>kein anderes Bild</b> unter 50 zufällig gezogenen Bildern aus dem selben Experiment <b>das gleiche Wort zeigt</b>.
            </li>
        </ul>
        </li>
        <li>
            <b>Wert = Erkennungsrate</b> (von 0 bis 100)
            wenn die Idee <b>originell</b> ist
        </li>
         <ul>
            <li>
            Die <b>Erkennungsrate</b> ist der Anteil an Menschen (von 0-100%) die das dargestellte Wort auf Basis des Bildes erkannt haben.
            </li>
         </ul>
    </ul>


    <br>

    <p>
        <b> <u>Ihre Auszahlung</u></b>
    </p>

    <ul>
        <li>
            Wenn Sie die Idee mit dem <b>höheren Wert</b> wählen, ist ihre Auszahlung <b>5€</b>.
        </li>
        <li>
           Wenn Sie die Idee mit dem <b>niedrigeren Wert</b> wählen, ist ihre Auszahlung <b>0€</b>.
        </li>
    </ul>

<p> Am Ende des Experiments erfahren Sie ihre Auszahlung. In der Kick-Off Veranstaltung werden wir unter allen teilnehmenden Studierenden per Zufallszug eine Person auswählen die ausgezahlt wird.
</p>

    <p>


        {% if player.treat == 'verbal_idea' %}
            Zusätzlich zu dem Bild der Idee wird Ihnen eine Beschreibung der Idee angezeigt, welche von dem oder der InnovatorIn angefertigt wurde.
            Der Innovator oder die Innovatorin hatten einen Anreiz den Leser zu überzeugen, dass die kreative Idee von hohem Wert ist.
        {% endif %}

    </p>

    <br>

{% next_button %}

{% endblock %}
