{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your task
{% endblock %}

{% block styles %}
<style>
    .slidecontainer {
        flex-grow: 1;
        margin: auto;
    }
    .slider:invalid {
        border: 5px solid red!important;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border: 1px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none!important;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }


    /* custom thumb for Safari, Opera, and Chrome */
    .myClass::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #007bff;
        border: 2px solid #007bff;
        height: 20px !important;
        width: 20px !important;
        border-radius: 10px !important;
        background: #007bff !important;
        cursor: pointer !important !important;
        -webkit-appearance: none !important;
        margin-top: -8px !important;
    }

    /* custom thumb for Firefox */
    .myClassFF::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #007bff;
        border: 1px solid #007bff;
        height: 20px !important;
        width: 20px !important;
        border-radius: 10px !important;
        background: #007bff !important;
        cursor: pointer !important !important;
        -moz-appearance: none !important;
        margin-top: -8px !important;
    }

    /* custom thumb for Microsoft */
    .myClassMS::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #3071A9;
        border: 1px solid #007bff;
        height: 20px !important;
        width: 20px !important;
        border-radius: 10px !important;
        background: #007bff !important;
        cursor: pointer !important !important;
        margin-top: -8px !important;
    }

    /* hide default range styling */
	input[type=range] {
		-webkit-appearance: none;
		margin: 10px 0;
		height: 8px;
		width: 100%;
		border: 1px solid white;
    }

    /* hide default focus styling */
	input[type=range]:focus {
		outline: none;
	}

    /* get ride of weird dotted outline around range in Firefox */
	input[type=range]::-moz-focus-outer {
        border: 0;
    	outline: none;
    }

    /* custom range styling for Safari, Opera, and Chrome */
	input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #3071A9;
		border-radius: 1px;
		border: 0.5px solid #d3d3d3;
	}

    /* custom range styling for Firefox */
	input[type=range]::-moz-range-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #dbdbdb;
		border-radius: 1px;
		border: 0.5px solid #aeacac;
	}

    /* custom range styling for Microsoft */
	input[type=range]::ms-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #007bff;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

    /* hide default thumb in Opera, Safari, Chrome */
	input[type=range]::-webkit-slider-thumb {
		border: 0px;
		height: 0px;
		width: 0px;
		border-radius: 0px;
		-webkit-appearance: none;
	}

    /* hide default thumb in Firefox */
	input[type=range]::-moz-range-thumb {
		-webkit-appearance: none;
		border: none;
		height: 0px;
		width: 0px;
		border-radius: 0px;
		-moz-appearance: none;
	}

    /* hide default thumb for Microsoft */
    input[type=range]::-ms-thumb {
		-webkit-appearance: none;
		border: none;
		height: 0px;
		width: 0px;
		border-radius: 0px;
	}

    [class*="col-"] {
        width: 9%;
        padding: 0 0 0 0;
    }
    .row{
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>
    <p>
        Please answer the following questions. One of the answer may be shown to the third party when deciding between you and your competitor.
    </p>


    <br>

    <form>

        <p>
            On a scale from 0 (entirely disagree) to 100 (entirely agree), please indicate the extent to which you agree
            with each of the follwoing statements:
        </p>
        <p>
            <label for="perf">
                <b>I performed well on the test I took in part 1.</b>
            </label>
        </p>
        <div class="row" style="margin-left: 10px">
            <div class="col-md">
                <p align="left">Entirely disagree</p>
            </div>


            <div class="col-md">
                <p align="right">Entirely agree</p>
            </div>
        </div>

        <div class="row" style="margin-left: 10px; margin-right: 10px">
            <div class="input-group-prepend">
            <span class="input-group-text">0</span>
            </div>

            <div class="slidecontainer">
                <input type="range" min="0" max="100" step="1" value="0" class="slider" id="perf" name="promo100scale" onclick="setClick1()">
            </div>

            <div class="input-group-append">
            <span class="input-group-text">100</span>
            </div>
        </div>

        <div class="row"  style="margin-left: 10px; margin-right: 10px">
            <div class="col-md" style="alignment: center">
            </div>
            <div class="col-md" style="alignment: center">
            </div>
            <div class="col-md" style="alignment: center">
            <p align="center"><b> <p> Your answer:  <span id="output"></span> </p></b></p>
            </div>

              <div class="col-md" style="alignment: center">
            </div>
                <div class="col-md" style="alignment: center">
            </div>

        </div>
        <br>


        <p><b>Please indicate how well you think you performed on the test you took in part 1.</b></p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="p0">Terrible</label>
            </div>
            <div class="col-md" align="center">
                <label for="p1">Very poor</label>
            </div>
            <div class="col-md" align="center">
                <label for="p2">Neutral</label>
            </div>
            <div class="col-md" align="center">
                <label for="p3">Good</label>
            </div>
            <div class="col-md" align="center">
                <label for="p4">Very good</label>
            </div>
            <div class="col-md" align="center">
                <label for="p5">Exceptional</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="p0" name="promo6scale" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p1" name="promo6scale" value="2" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p2" name="promo6scale" value="3" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p3" name="promo6scale" value="4" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p4" name="promo6scale" value="5" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p5" name="promo6scale" value="6" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>
        <br>



    </form>


    <button class="otree-btn-next btn btn-primary" onclick="validation()">Next</button>

    <script>
        var slider1 = document.getElementById("perf");
        var click1 = 0;
        const output = document.getElementById("output");

        slider1.oninput = function() {
            slider1.classList.add("myClass","myClassFF","myClassMS");
            slider1.style.background = 'linear-gradient(to right, darkred ' + slider1.value + '%, dodgerblue ' + slider1.value + '%)'
            output.innerHTML = this.value.toString()

        }


        function setClick1() {
            click1=1;
            slider1.setCustomValidity('');
        }

        function slidererrormessage() {
            if (click1===0) {
                slider1.setCustomValidity("Please make your guess.");
            }

        }

        function validation() {
            slidererrormessage()
        }
    </script>

{% endblock %}
