{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your bonus
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions2.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>
    <p>
        Whether or not you receive a <b>£3 bonus</b> depends on the decision of a third party who has to choose between your performance and the of a competing participant from this task.
        You receive the bonus <b>only if the third party chooses your performance</b> over that of a competitor.
    </p>
    <p>
        The third party earns more money if he or she chooses the better performance of the two.
        Which performances is better, is determined by the number of correctly answered questions on the test.
    </p>

    {% next_button %}
{% endblock %}


