{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your task
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>
    <p>
        It is your task now to <b>promote</b> your performance in order to <b>persuade the third party</b> to choose your performance over that of your competitor
        so that you receive the bonus.
    </p>
    <p>
        Please write your promotion in this box.
    </p>

    <form>
        <div class="form-group required">
            <div class="controls field-promotion">
                <textarea id="promo" style="margin: solid 5px!important;" class="form-control" name="promotion" cols="40" rows="10" required oninvalid="this.setCustomValidity('Please promote your work.')" oninput="this.setCustomValidity('')"></textarea>
            </div>
        </div>
    </form>

    {% next_button %}
{% endblock %}


