{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block styles %}
<style>
.dropdown{
    width: auto;
    height: calc(2.25rem + 2px);
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[class*="col-"] {
    width: 14%;
}

.row{
    width: 100%;
}
</style>
{% endblock %}

{% block content %}

    <form>

        <label for="eng">Are you a native English speaker?</label>
        <br>
        <select class="dropdown" name="native" id="eng" onchange="showproficiency(this.options[this.selectedIndex].value)" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
            <option value="" selected="selected">---------</option>
            <option value="1">No</option>
            <option value="2">Yes</option>
        </select>
        <br>
        <div id="proficiency"></div>

        <br>

        <label for="belief_correct_q">Out of the 20 questions on the test you took in part 1, how many questions do you think you answered correctly?</label>
        <br>
        <select class="dropdown" name="belief_correct_q" id="belief_correct_q">
            <option value="" selected="selected">---------</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>

        <br>

        <p>How difficult did you find the task?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="d0">Not difficult at all</label>
            </div>
            <div class="col-md" align="center">
                <label for="d1"></label>
            </div>
            <div class="col-md" align="center">
                <label for="d2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="d3"></label>
            </div>
            <div class="col-md" align="center">
                <label for="d4"></label>
            </div>
              <div class="col-md" align="center">
                <label for="d5"></label>
            </div>
              <div class="col-md" align="center">
                <label for="d6">Very difficult</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="d0" name="difficult" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="d1" name="difficult" value="2" onclick="document.getElementById('d0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="d2" name="difficult" value="3" onclick="document.getElementById('d0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="d3" name="difficult" value="4" onclick="document.getElementById('d0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="d4" name="difficult" value="5" onclick="document.getElementById('d0').setCustomValidity('')">
            </div>
              <div class="col-md" align="center">
                <input type="radio" id="d5" name="difficult" value="6" onclick="document.getElementById('d0').setCustomValidity('')">
            </div>
              <div class="col-md" align="center">
                <input type="radio" id="d6" name="difficult" value="7" onclick="document.getElementById('d0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>

        <p>Do you think this task rather favors male or female participants?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="s0">Female</label>
            </div>
            <div class="col-md" align="center">
                <label for="s1"></label>
            </div>
            <div class="col-md" align="center">
                <label for="s2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="s3">None</label>
            </div>
            <div class="col-md" align="center">
                <label for="s4"></label>
            </div>
            <div class="col-md" align="center">
                <label for="s5"></label>
            </div>
            <div class="col-md" align="center">
                <label for="s6">Male</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="s0" name="stereotypes" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s1" name="stereotypes" value="2" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s2" name="stereotypes" value="3" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s3" name="stereotypes" value="4" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s4" name="stereotypes" value="5" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s5" name="stereotypes" value="6" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s6" name="stereotypes" value="7" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>

        <p>How likely do you think is it, that you receive the bonus?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="l0">Not likely at all</label>
            </div>
            <div class="col-md" align="center">
                <label for="l1"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l3"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l4"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l5"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l6">Very likely</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="l0" name="bonus_chance" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l1" name="bonus_chance" value="2" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l2" name="bonus_chance" value="3" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l3" name="bonus_chance" value="4" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l4" name="bonus_chance" value="5" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l5" name="bonus_chance" value="6" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l6" name="bonus_chance" value="7" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>

        <p>How convincing do you think was your verbal promotion?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="p0">Not convincing at all</label>
            </div>
            <div class="col-md" align="center">
                <label for="p1"></label>
            </div>
            <div class="col-md" align="center">
                <label for="p2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="p3"></label>
            </div>
            <div class="col-md" align="center">
                <label for="p4"></label>
            </div>
            <div class="col-md" align="center">
                <label for="p5"></label>
            </div>
            <div class="col-md" align="center">
                <label for="p6">Very convincing</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="p0" name="prom_quality" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p1" name="prom_quality" value="2" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p2" name="prom_quality" value="3" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p3" name="prom_quality" value="4" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p4" name="prom_quality" value="5" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p5" name="prom_quality" value="6" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="p6" name="prom_quality" value="7" onclick="document.getElementById('p0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>

        <p>How do you see yourself: Are you someone who is willing to take risks or do you try to avoid them?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="r0">Not willing at all to take risks</label>
            </div>
            <div class="col-md" align="center">
                <label for="r1"></label>
            </div>
            <div class="col-md-auto" align="center">
                <label for="r2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="r3"></label>
            </div>
            <div class="col-md" align="center">
                <label for="r4"></label>
            </div>
            <div class="col-md" align="center">
                <label for="r5"></label>
            </div>
            <div class="col-md" align="center">
                <label for="r6">Very willing to take risks</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="r0" name="risk_pref" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="r1" name="risk_pref" value="2" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="r2" name="risk_pref" value="3" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="r3" name="risk_pref" value="4" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="r4" name="risk_pref" value="5" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
              <div class="col-md" align="center">
                <input type="radio" id="r5" name="risk_pref" value="6" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
              <div class="col-md" align="center">
                <input type="radio" id="r6" name="risk_pref" value="7" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>

        <p>Do you like to compete with others?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="c0">I don’t like competitions at all</label>
            </div>
            <div class="col-md" align="center">
                <label for="c1"></label>
            </div>
            <div class="col-md" align="center">
                <label for="c2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="c3"></label>
            </div>
            <div class="col-md" align="center">
                <label for="c4"></label>
            </div>
             <div class="col-md" align="center">
                <label for="c5"></label>
            </div>
             <div class="col-md" align="center">
                <label for="c6">I like competitions very much</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="c0" name="competition" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c1" name="competition" value="2" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c2" name="competition" value="3" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c3" name="competition" value="4" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c4" name="competition" value="5" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c5" name="competition" value="6" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c6" name="competition" value="7" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
        </div>
    </form>
    <br>
    <br>

    {% next_button %}

    <script>
        function showproficiency(eng){
            if(eng==='1') {
                document.getElementById('proficiency').innerHTML = '' +
                    '<p>How would you describe your language proficiency in English?</p>' +
                    '<div class="row">' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep0">Basic</label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep1"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep2"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep3"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep4"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep5"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep6">Fluent</label>' +
                    '</div>' +

                    '<div class="w-100"></div>' +

                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep0" name="eng_prof" value="1">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep1" name="eng_prof" value="2">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep2" name="eng_prof" value="3">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep3" name="eng_prof" value="4">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep4" name="eng_prof" value="5">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep5" name="eng_prof" value="6">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep6" name="eng_prof" value="7">' +
                    '</div>' +
                    '</div>' +
                    '<br>'
                ;
                document.getElementById('ep0').setAttribute("required", "True")
                document.getElementById('ep0').setAttribute("oninvalid", "this.setCustomValidity('Please choose an option.')")
                document.getElementById('ep0').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
                document.getElementById('ep1').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
                document.getElementById('ep2').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
                document.getElementById('ep3').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
                document.getElementById('ep4').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
            }
            else {
                document.getElementById('proficiency').innerHTML='';
            }
        }
    </script>

{% endblock %}


