{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Welcome to this task
{% endblock %}

{% block content %}

    <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
        <u>
            <a onclick="window.open('{% static 'Instructions1.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                Click to review previous instructions
            </a>
        </u>
    </div>

    <p>
        You will receive a fixed payment of $0.30. Additionally, you can earn a $1.50 <b>bonus</b>.
        This bonus is awarded based on your performance on the task.
    </p>
    <p>
        Please carefully read the following instructions before starting to work.
        Note that there will be an attention check.
        If you do not pass it, you cannot participate in this task.
        To be eligible for payment, you further have to perform all tasks within the next hour.
    </p>
    <p>
        At any point in time, you will be able to review previous instruction by clicking on
        "Click to review previous instructions" in the right top corner of your screen.
    </p>

{% next_button %}

{% endblock %}
