{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Task
{% endblock %}

{% block styles %}
<style>
.divbild {
    width:480px;
    height:425px;
    overflow:hidden;
    margin-right:-80px;
    position: absolute;
    z-index:0;
    border-radius: 15px;
    }

.frame {
    width:480px;
    height:425px;
    overflow:hidden;
    margin-right:-80px;
    border-radius: 15px;
    border: #dbdbdb 5px solid;
    position: absolute;
    z-index: 5;
    }

.container {
    width: 490px;
    height: 435px;
    border-radius: 15px;
}

.textinput{
    display: block;
    max-width: 400px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

</style>

{% endblock %}

{% block content %}

    <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
        <u>
            <a onclick="window.open('{% static 'Instructions2_rater.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                Click to review previous instructions
            </a>
        </u>
    </div>

    <p>
       You receive <b>$0.10</b> for each correctly identified word.
        A word is correctly identified if you enter the <b> exact word </b> that the other worker assigned to that illustration.</b>
    </p>


    <br>

    <div class="container" align="left">
    <div class="frame"></div>
    <div class="divbild">
        <img src="data:image/(png|jpeg);base64,{{ photo }}" style="max-width:100%; max-height: 150%"/>
    </div>
    </div>


    <br>

    <p>
        <label for="word_guess">Please write down the word that is illustrated.</label>
        <br>
        <input class="textinput" name="word_guess" id="guess" oninput="validateguess(document.getElementById('guess').value)">
    </p>

<button class="otree-btn-next btn btn-primary">Next</button>
<!--  required oninvalid="validateguess(document.getElementById('guess').value)" oninput="validateguess(document.getElementById('guess').value)"
-->
<script>
    var forbiddenchars = /[@!?$&%=+#.]/;
    var forbiddenspace = /[ ]/;
    var numbers = /[1234567890]/;

    var guess_field = document.getElementById("guess");

    function validateguess (word_guess) {
        if(forbiddenchars.test(word_guess)) {
            guess_field.setCustomValidity('The illustrated words do not include any symbols');
            guess_field.reportValidity();
        }
        else if(forbiddenspace.test(word_guess)) {
            guess_field.setCustomValidity('The illustrated words consist of one word only (no blanks).');
            guess_field.reportValidity();
        }
        else if(numbers.test(word_guess)) {
            guess_field.setCustomValidity('The illustrated words do not contain any numbers.');
            guess_field.reportValidity();
        }
        else {
            guess_field.setCustomValidity('');
            guess_field.reportValidity();
        }
    }
</script>
{% endblock %}

