{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block styles %}
<style>
.dropdown{
    width: auto;
    height: calc(2.25rem + 2px);
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.textinput{
    display: block;
    max-width: 400px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

.numberinput{
    display: block;
    max-width: 100px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[class*="col-"] {
    width: 14%;
}

.row{
    width: 100%;
}
</style>
{% endblock %}

{% block content %}

    {% if participant.vars.treat == 'score_only' %}
        <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
            <u>
                <a onclick="window.open('{% static 'Instructions2Assess.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                    Click to review previous instructions
                </a>
            </u>
        </div>
    {% endif %}

    {% if participant.vars.treat == 'verbal_only' %}
        <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
            <u>
                <a onclick="window.open('{% static 'Instructions2Verbal.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                    Click to review previous instructions
                </a>
            </u>
        </div>
    {% endif %}

    <p>
        Please answer some additional questions.
    </p>

    <br>

    <form>
    <!--
        <label for="gender">Please indicate your gender.</label>
        <br>
        <select class="dropdown" name="gender" id="gender" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
            <option value="" selected="selected">---------</option>
            <option value="1">Female</option>
            <option value="2">Male</option>
            <option value="3">Other</option>
        </select>

        <br>
        <br>

        <label for="eng">Are you a native English speaker?</label>
        <br>
        <select class="dropdown" name="english" id="eng" onchange="showproficiency(this.options[this.selectedIndex].value)" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
            <option value="" selected="selected">---------</option>
            <option value="1">No</option>
            <option value="2">Yes</option>
        </select>
        <br>
        <div id="proficiency"></div>

        <br>
        -->

        <label for="colourblindness">Do you have a red-green colorblindness?</label>
        <br>
        <select class="dropdown" name="colourb" id="colourblindness" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
            <option value="" selected="selected">---------</option>
            <option value="1">No</option>
            <option value="2">Yes</option>
        </select>

        <br>
        <br>

        <p>Do you think this task rather favors male or female participants?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="s0">Female</label>
            </div>
            <div class="col-md" align="center">
                <label for="s1"></label>
            </div>
            <div class="col-md" align="center">
                <label for="s2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="s3">None</label>
            </div>
            <div class="col-md" align="center">
                <label for="s4"></label>
            </div>
            <div class="col-md" align="center">
                <label for="s5"></label>
            </div>
            <div class="col-md" align="center">
                <label for="s6">Male</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="s0" name="stereotypes" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s1" name="stereotypes" value="2" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s2" name="stereotypes" value="3" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s3" name="stereotypes" value="4" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s4" name="stereotypes" value="5" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s5" name="stereotypes" value="6" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="s6" name="stereotypes" value="7" onclick="document.getElementById('s0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>

        <p>How likely do you think is it, that you receive the bonus?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="l0">Not likely at all</label>
            </div>
            <div class="col-md" align="center">
                <label for="l1"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l3"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l4"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l5"></label>
            </div>
            <div class="col-md" align="center">
                <label for="l6">Very likely</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="l0" name="chance_bonus" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l1" name="chance_bonus" value="2" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l2" name="chance_bonus" value="3" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l3" name="chance_bonus" value="4" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l4" name="chance_bonus" value="5" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l5" name="chance_bonus" value="6" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="l6" name="chance_bonus" value="7" onclick="document.getElementById('l0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>

        <p>How do you see yourself: Are you someone who is willing to take risks or do you try to avoid them?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="r0">Not willing at all to take risks</label>
            </div>
            <div class="col-md" align="center">
                <label for="r1"></label>
            </div>
            <div class="col-md-auto" align="center">
                <label for="r2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="r3"></label>
            </div>
            <div class="col-md" align="center">
                <label for="r4"></label>
            </div>
            <div class="col-md" align="center">
                <label for="r5"></label>
            </div>
            <div class="col-md" align="center">
                <label for="r6">Very willing to take risks</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="r0" name="risk_pref" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="r1" name="risk_pref" value="2" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="r2" name="risk_pref" value="3" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="r3" name="risk_pref" value="4" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="r4" name="risk_pref" value="5" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
              <div class="col-md" align="center">
                <input type="radio" id="r5" name="risk_pref" value="6" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
              <div class="col-md" align="center">
                <input type="radio" id="r6" name="risk_pref" value="7" onclick="document.getElementById('r0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>

        <p>Do you like to compete with others?</p>
        <div class="row">
            <div class="col-md" align="center">
                <label for="c0">I don’t like competitions at all</label>
            </div>
            <div class="col-md" align="center">
                <label for="c1"></label>
            </div>
            <div class="col-md" align="center">
                <label for="c2"></label>
            </div>
            <div class="col-md" align="center">
                <label for="c3"></label>
            </div>
            <div class="col-md" align="center">
                <label for="c4"></label>
            </div>
             <div class="col-md" align="center">
                <label for="c5"></label>
            </div>
             <div class="col-md" align="center">
                <label for="c6">I like competitions very much</label>
            </div>

            <div class="w-100"></div>

            <div class="col-md" align="center">
                <input type="radio" id="c0" name="comp" value="1" required oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c1" name="comp" value="2" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c2" name="comp" value="3" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c3" name="comp" value="4" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c4" name="comp" value="5" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c5" name="comp" value="6" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
            <div class="col-md" align="center">
                <input type="radio" id="c6" name="comp" value="7" onclick="document.getElementById('c0').setCustomValidity('')">
            </div>
        </div>

        <br>
        <br>

    </form>

    <br>

    {% next_button %}

    <script>

        function showproficiency(english){
            if(english==='1') {
                document.getElementById('proficiency').innerHTML = '' +
                    '<p>How would you describe your language proficiency in English?</p>' +
                    '<div class="row">' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep0">Basic</label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep1"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep2"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep3"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep4"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep5"></label>' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<label for="ep6">Fluent</label>' +
                    '</div>' +

                    '<div class="w-100"></div>' +

                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep0" name="english_prof" value="1">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep1" name="english_prof" value="2">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep2" name="english_prof" value="3">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep3" name="english_prof" value="4">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep4" name="english_prof" value="5">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep5" name="english_prof" value="6">' +
                    '</div>' +
                    '<div class="col-md" align="center">' +
                    '<input type="radio" id="ep6" name="english_prof" value="7">' +
                    '</div>' +
                    '</div>' +
                    '<br>';
                document.getElementById('ep0').setAttribute("required", "True")
                document.getElementById('ep0').setAttribute("oninvalid", "this.setCustomValidity('Please choose an option.')")
                document.getElementById('ep0').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
                document.getElementById('ep1').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
                document.getElementById('ep2').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
                document.getElementById('ep3').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
                document.getElementById('ep4').setAttribute("oninput", "document.getElementById('ep0').setCustomValidity('')")
            }
            else {
                document.getElementById('proficiency').innerHTML='';
            }
        }

    </script>

{% endblock %}


