{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your decision
{% endblock %}

{% block styles %}
<style>

.divbild {
    width:336px;
    height:301px;
    overflow:hidden;
    border-radius: 7px;
    margin: 0 auto
}

.col-sm {
    text-align: center;
}
</style>

{% endblock %}

{% block content %}

    {% if participant.vars.treat == 'score_only' %}
        <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
            <u>
                <a onclick="window.open('{% static 'Instructions2Score.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                    Click to review previous instructions
                </a>
            </u>
        </div>
    {% endif %}

    {% if participant.vars.treat == 'verbal_only' %}
        <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
            <u>
                <a onclick="window.open('{% static 'Instructions2Verbal.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                    Click to review previous instructions
                </a>
            </u>
        </div>
    {% endif %}

    <p>
        Please decide between the following illustrations. Which one do you think has the higher value?
    </p>

    <br>

    <div class="row">
        <div class="col-sm">
            <p>
                <u>Illustration 1:</u>
            </p>
            <!--
            <div class="divbild">
                <img src="data:image/(png|jpeg);base64,{{ photo1 }}" style="max-width:100%; max-height: 150%"/>
            </div>
            -->

            <br>

            {% if participant.vars.treat == 'score_only' %}
                <p>
                    The participant that created this illustration assesses the likelihood that it is original with <b>{{ promo_orig_1 }}</b>%.
                </p>

                <p>
                    The participant assesses the recognizability rate (from 0 to 100) as <b>{{ promo_rec_1 }}</b>.
                </p>
            {% endif %}

            {% if participant.vars.treat == 'verbal_only' %}
                <p>
                    This is the text provided by the participant who created this creative idea:
                    <br>
                     <br>
                    <i> {{ promo_verbal_1 }} </i>
                </p>
            {% endif %}
        </div>

        <div class="col-sm">
            <p>
                <u>Illustration 2:</u>
            </p>
            <!--
            <div class="divbild">
                <img src="data:image/(png|jpeg);base64,{{ photo2 }}" style="max-width:100%; max-height: 150%"/>
            </div>
            -->

            <br>

            {% if participant.vars.treat == 'score_only' %}
                <p>
                    The participant that created this illustration assesses the likelihood that it is original with <b>{{ promo_orig_2 }}</b>%.
                </p>

                <p>
                    The participant assesses the recognizability rate (from 0 to 100) as <b>{{ promo_rec_2 }}</b>.
                </p>
            {% endif %}

            {% if participant.vars.treat == 'verbal_only' %}
                <p>
                    This is the text provided by the participant who created this creative idea:
                    <br>
                    <br>
                    <i> {{ promo_verbal_2 }} </i>
                </p>
            {% endif %}
        </div>
    </div>

    <br>
    <br>


    <p>
        Please decide which illustration you want to choose:
    </p>

    <br>

    <div class="row">
        <div class="col-sm">
            <input type="button" id="button_1" name="chose_1" class="otree-btn-next btn btn-primary" value="Illustration 1"/>
        </div>

        <div class="col-sm">
            <input type="button" id="button_2" name="chose_2" class="otree-btn-next btn btn-primary" value="Illustration 2"/>
        </div>
    </div>


<input type="hidden" name="chose_2" id="id_chose_2" required  class="form-control">
<input type="hidden" name="chose_1" id="id_chose_1" required  class="form-control">

<button class="otree-btn-next btn btn-primary" style="display:none;" id="next_page">Submit</button>
{% endblock %}
{% block scripts %}
<script>
    button_1 = document.getElementById("button_1")
    button_2 = document.getElementById("button_2")
    button_1.addEventListener('click', click_illu1)
    button_2.addEventListener('click', click_illu2)

    function click_illu1() {
        var field1 = document.getElementById('id_chose_1');
        field1.value = 1;
        var field2 = document.getElementById('id_chose_2');
        field2.value = 0;
        var next_button = document.getElementById("next_page");
        next_button.click();
    }

    function click_illu2() {
        var field1 = document.getElementById('id_chose_2');
        field1.value = 1;
        var field2 = document.getElementById('id_chose_1');
        field2.value = 0;
        var next_button = document.getElementById("next_page");
        next_button.click();
    }

</script>

{% endblock %}