{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="ao3">
                Which of these images <em>best</em> solves the problem in the first picture?
                <br>
                <img src="{% static objects3 %}"/>
            </label>
            <div class="controls  field-ao3">
                <ul id="ao3">
                    <li>
                        <label for="ao31">
                            <input type="radio" name="ao3" value="1" required="" id="ao31" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            C
                        </label>
                    </li>

                    <li>
                        <label for="ao32">
                            <input type="radio" name="ao3" value="2" required="" id="ao32" class="form-check-input" onclick="document.getElementById('ao31').setCustomValidity('')">
                            B
                        </label>
                    </li>

                    <li>
                        <label for="ao33">
                            <input type="radio" name="ao3" value="3" required="" id="ao33" class="form-check-input" onclick="document.getElementById('ao31').setCustomValidity('')">
                            A
                        </label>
                    </li>

                    <li>
                        <label for="ao34">
                            <input type="radio" name="ao3" value="4" required="" id="ao34" class="form-check-input" onclick="document.getElementById('ao31').setCustomValidity('')">
                            D
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
