{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="ao5">
                Choose the figure that shows the shapes connected correctly.
                <br>
                <img src="{% static objects5 %}"/>
            </label>
            <div class="controls  field-ao5">
                <ul id="ao5">
                    <li>
                        <label for="ao51">
                            <input type="radio" name="answer" value="1" required="" id="ao51" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            B
                        </label>
                    </li>

                    <li>
                        <label for="ao52">
                            <input type="radio" name="answer" value="2" required="" id="ao52" class="form-check-input" onclick="document.getElementById('ao51').setCustomValidity('')">
                            A
                        </label>
                    </li>

                    <li>
                        <label for="ao53">
                            <input type="radio" name="answer" value="3" required="" id="ao53" class="form-check-input" onclick="document.getElementById('ao51').setCustomValidity('')">
                            C
                        </label>
                    </li>

                    <li>
                        <label for="ao54">
                            <input type="radio" name="answer" value="4" required="" id="ao54" class="form-check-input" onclick="document.getElementById('ao51').setCustomValidity('')">
                            D
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
