{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="ar2">The sum of two numbers is 84. One number is 6 more that the other. What is the smaller of the two numbers?</label>
            <div class="controls  field-ar2">
                <ul id="ar2">
                    <li>
                        <label for="ar21">
                            <input type="radio" name="ar2" value="1" required="" id="ar21" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            39
                        </label>
                    </li>

                    <li>
                        <label for="ar22">
                            <input type="radio" name="ar2" value="2" required="" id="ar22" class="form-check-input" onclick="document.getElementById('ar21').setCustomValidity('')">
                            32
                        </label>
                    </li>

                    <li>
                        <label for="ar23">
                            <input type="radio" name="ar2" value="3" required="" id="ar23" class="form-check-input" onclick="document.getElementById('ar21').setCustomValidity('')">
                            35
                        </label>
                    </li>

                    <li>
                        <label for="ar24">
                            <input type="radio" name="ar2" value="4" required="" id="ar24" class="form-check-input" onclick="document.getElementById('ar21').setCustomValidity('')">
                            33
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
