{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="gs1">
                Gene expression in physical characteristics such as eye or hair color is referred to as <u>____</u>.
            </label>
            <div class="controls  field-gs1">
                <ul id="gs1">
                    <li>
                        <label for="gs11">
                            <input type="radio" name="gs1" value="1" required="" id="gs11" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            phenotype
                        </label>
                    </li>

                    <li>
                        <label for="gs12">
                            <input type="radio" name="gs1" value="2" required="" id="gs12" class="form-check-input" onclick="document.getElementById('gs11').setCustomValidity('')">
                            genotype
                        </label>
                    </li>

                    <li>
                        <label for="gs13">
                            <input type="radio" name="gs1" value="3" required="" id="gs13" class="form-check-input" onclick="document.getElementById('gs11').setCustomValidity('')">
                            allele
                        </label>
                    </li>

                    <li>
                        <label for="gs14">
                            <input type="radio" name="gs1" value="4" required="" id="gs14" class="form-check-input" onclick="document.getElementById('gs11').setCustomValidity('')">
                            homozygous allele
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
