{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="gs3">
                The energy possessed by a moving object is called ____ energy.
            </label>
            <div class="controls  field-gs3">
                <ul id="gs3">
                    <li>
                        <label for="gs31">
                            <input type="radio" name="gs3" value="1" required="" id="gs31" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            kinetic
                        </label>
                    </li>

                    <li>
                        <label for="gs32">
                            <input type="radio" name="gs3" value="2" required="" id="gs32" class="form-check-input" onclick="document.getElementById('gs31').setCustomValidity('')">
                            acceleration
                        </label>
                    </li>

                    <li>
                        <label for="gs33">
                            <input type="radio" name="gs3" value="3" required="" id="gs33" class="form-check-input" onclick="document.getElementById('gs31').setCustomValidity('')">
                            potential
                        </label>
                    </li>

                    <li>
                        <label for="gs34">
                            <input type="radio" name="gs3" value="4" required="" id="gs34" class="form-check-input" onclick="document.getElementById('gs31').setCustomValidity('')">
                            true
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
