{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="gs4">
                What is the pH of water?
            </label>
            <div class="controls  field-gs4">
                <ul id="gs4">
                    <li>
                        <label for="gs41">
                            <input type="radio" name="gs4" value="1" required="" id="gs41" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            7
                        </label>
                    </li>

                    <li>
                        <label for="gs42">
                            <input type="radio" name="gs4" value="2" required="" id="gs42" class="form-check-input" onclick="document.getElementById('gs41').setCustomValidity('')">
                            6
                        </label>
                    </li>

                    <li>
                        <label for="gs43">
                            <input type="radio" name="gs4" value="3" required="" id="gs43" class="form-check-input" onclick="document.getElementById('gs41').setCustomValidity('')">
                            1
                        </label>
                    </li>

                    <li>
                        <label for="gs44">
                            <input type="radio" name="gs4" value="4" required="" id="gs44" class="form-check-input" onclick="document.getElementById('gs41').setCustomValidity('')">
                            0
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
