{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="mc1">
                Which is the best description of centrifugal force?
            </label>
            <div class="controls  field-mc1">
                <ul id="mc1">
                    <li>
                        <label for="mc11">
                            <input type="radio" name="mc1" value="1" required="" id="mc11" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            the response of bodies with inertia to the straight-moving or curved behavior of their container
                        </label>
                    </li>

                    <li>
                        <label for="mc12">
                            <input type="radio" name="mc1" value="2" required="" id="mc12" class="form-check-input" onclick="document.getElementById('mc11').setCustomValidity('')">
                            the force by which bodies are propelled forward
                        </label>
                    </li>

                    <li>
                        <label for="mc13">
                            <input type="radio" name="mc1" value="3" required="" id="mc13" class="form-check-input" onclick="document.getElementById('mc11').setCustomValidity('')">
                            the relationship between two opposing forces
                        </label>
                    </li>

                    <li>
                        <label for="mc14">
                            <input type="radio" name="mc1" value="4" required="" id="mc14" class="form-check-input" onclick="document.getElementById('mc11').setCustomValidity('')">
                            the force responsible for the changes made to water during distillation
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
