{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="mc3">
                Torque involves a perpendicular force applied to a lever arm that moves around a center of rotation.
                Increasing the length of the lever arm will do which of the following?
            </label>
            <div class="controls  field-mc3">
                <ul id="mc3">
                    <li>
                        <label for="mc31">
                            <input type="radio" name="mc3" value="1" required="" id="mc31" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            decrease applied force
                        </label>
                    </li>

                    <li>
                        <label for="mc32">
                            <input type="radio" name="mc3" value="2" required="" id="mc32" class="form-check-input" onclick="document.getElementById('mc31').setCustomValidity('')">
                            increase applied force
                        </label>
                    </li>

                    <li>
                        <label for="mc33">
                            <input type="radio" name="mc3" value="3" required="" id="mc33" class="form-check-input" onclick="document.getElementById('mc31').setCustomValidity('')">
                            increase torque
                        </label>
                    </li>

                    <li>
                        <label for="mc34">
                            <input type="radio" name="mc3" value="4" required="" id="mc34" class="form-check-input" onclick="document.getElementById('mc31').setCustomValidity('')">
                            decrease torque
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
