{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="mk1">
                Which of the following angles is obtuse?
            </label>
            <div class="controls  field-mk5">
                <ul id="mk1">
                    <li>
                        <label for="mk11">
                            <input type="radio" name="mk1" value="1" required="" id="mk11" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            130 degrees
                        </label>
                    </li>

                    <li>
                        <label for="mk12">
                            <input type="radio" name="mk1" value="2" required="" id="mk12" class="form-check-input" onclick="document.getElementById('mk11').setCustomValidity('')">
                            15 degrees
                        </label>
                    </li>

                    <li>
                        <label for="mk13">
                            <input type="radio" name="mk1" value="3" required="" id="mk13" class="form-check-input" onclick="document.getElementById('mk11').setCustomValidity('')">
                            45 degrees
                        </label>
                    </li>

                    <li>
                        <label for="mk14">
                            <input type="radio" name="mk1" value="4" required="" id="mk14" class="form-check-input" onclick="document.getElementById('mk11').setCustomValidity('')">
                            90 degrees
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
