{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your bonus
{% endblock %}

{% block content %}

    <p>
        Whether or not you receive a £3 bonus depends on the decision of an employer who has to choose between you and a
        competing worker from this study. You receive the bonus only if the employer chooses you over your competitor.
    </p>
    <p>
        The employer earns more money if he or she chooses the better performing worker. Which of the workers is better,
        is determined by the number of correctly answered questions on the test.
    </p>

    {% next_button %}
{% endblock %}


