{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="gs2">
                According to the electromagnetic spectrum, which is the highest frequency (shortest wavelength) wave known to exist?
            </label>
            <div class="controls  field-gs2">
                <ul id="gs2">
                    <li>
                        <label for="gs21">
                            <input type="radio" name="answer" value="1" required="" id="gs21" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            gamma rays
                        </label>
                    </li>

                    <li>
                        <label for="gs22">
                            <input type="radio" name="answer" value="2" required="" id="gs22" class="form-check-input" onclick="document.getElementById('gs21').setCustomValidity('')">
                            infrared waves
                        </label>
                    </li>

                    <li>
                        <label for="gs23">
                            <input type="radio" name="answer" value="3" required="" id="gs23" class="form-check-input" onclick="document.getElementById('gs21').setCustomValidity('')">
                            ultraviolet light waves
                        </label>
                    </li>

                    <li>
                        <label for="gs24">
                            <input type="radio" name="answer" value="4" required="" id="gs24" class="form-check-input" onclick="document.getElementById('gs21').setCustomValidity('')">
                            radio waves
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
