{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="mk2">
                Solve the following equation: |7 - (24 &#247; |3 - 6|)|
            </label>
            <div class="controls  field-mk2">
                <ul id="mk2">
                    <li>
                        <label for="mk21">
                            <input type="radio" name="answer" value="1" required="" id="mk21" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            1
                        </label>
                    </li>

                    <li>
                        <label for="mk22">
                            <input type="radio" name="answer" value="2" required="" id="mk22" class="form-check-input" onclick="document.getElementById('mk21').setCustomValidity('')">
                            -1
                        </label>
                    </li>

                    <li>
                        <label for="mk23">
                            <input type="radio" name="answer" value="3" required="" id="mk23" class="form-check-input" onclick="document.getElementById('mk21').setCustomValidity('')">
                            -12
                        </label>
                    </li>

                    <li>
                        <label for="mk24">
                            <input type="radio" name="answer" value="4" required="" id="mk24" class="form-check-input" onclick="document.getElementById('mk21').setCustomValidity('')">
                            15
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
