{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="mk4">
                If a=8, then
                <math xmlns="http://www.w3.org/1998/Math/MathML" display="inline">
                    <mrow>
                        <mfrac>
                            <mrow>
                                <msup><mi>8</mi><mn>4</mn></msup>
                            </mrow>
                            <mrow>
                                <mi>a</mi>
                            </mrow>
                        </mfrac>
                    </mrow>
                </math>
            </label>
            <div class="controls  field-mk4">
                <ul id="mk4">
                    <li>
                        <label for="mk41">
                            <input type="radio" name="answer" value="1" required="" id="mk41" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            12
                        </label>
                    </li>

                    <li>
                        <label for="mk42">
                            <input type="radio" name="answer" value="2" required="" id="mk42" class="form-check-input" onclick="document.getElementById('mk41').setCustomValidity('')">
                            512
                        </label>
                    </li>

                    <li>
                        <label for="mk43">
                            <input type="radio" name="answer" value="3" required="" id="mk43" class="form-check-input" onclick="document.getElementById('mk41').setCustomValidity('')">
                            32
                        </label>
                    </li>

                    <li>
                        <label for="mk44">
                            <input type="radio" name="answer" value="4" required="" id="mk44" class="form-check-input" onclick="document.getElementById('mk41').setCustomValidity('')">
                            4096
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}

