{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="mc4">
                What is the function of a <em>vise</em> in mechanical applications?
            </label>
            <div class="controls  field-mc4">
                <ul id="mc4">
                    <li>
                        <label for="mc41">
                            <input type="radio" name="answer" value="1" required="" id="mc41" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            In mechanical applications, vises are used to arrest motion.
                        </label>
                    </li>

                    <li>
                        <label for="mc42">
                            <input type="radio" name="answer" value="2" required="" id="mc42" class="form-check-input" onclick="document.getElementById('mc41').setCustomValidity('')">
                            Vises are designed to function as a source of stability, much like how legs function beneath a table.
                        </label>
                    </li>

                    <li>
                        <label for="mc43">
                            <input type="radio" name="answer" value="3" required="" id="mc43" class="form-check-input" onclick="document.getElementById('mc41').setCustomValidity('')">
                            In mechanical applications, vises are designed to assist movement.
                        </label>
                    </li>

                    <li>
                        <label for="mc44">
                            <input type="radio" name="answer" value="4" required="" id="mc44" class="form-check-input" onclick="document.getElementById('mc41').setCustomValidity('')">
                            Vises are used to suspend quick movements, slowing the effects of conveyor belts.
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
