{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>
    <form>
        <div class="form-group required">
            <label class="col-form-label" for="ar1">In a classroom of 32 students, 14 are male. What percentage of the class is female?</label>
            <div class="controls  field-ar1">
                <ul id="ar1">
                    <li>
                        <label for="ar11">
                            <input type="radio" name="answer" value="1" required="" id="ar11" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            56%
                        </label>
                    </li>

                    <li>
                        <label for="ar12">
                            <input type="radio" name="answer" value="2" required="" id="ar12" class="form-check-input" onclick="document.getElementById('ar11').setCustomValidity('')">
                            46%
                        </label>
                    </li>

                    <li>
                        <label for="ar13">
                            <input type="radio" name="answer" value="3" required="" id="ar13" class="form-check-input" onclick="document.getElementById('ar11').setCustomValidity('')">
                            52%
                        </label>
                    </li>

                    <li>
                        <label for="ar14">
                            <input type="radio" name="answer" value="4" required="" id="ar14" class="form-check-input" onclick="document.getElementById('ar11').setCustomValidity('')">
                            44%
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
