{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="mc5">
                What is a component of potential energy?
            </label>
            <div class="controls  field-mc5">
                <ul id="mc5">
                    <li>
                        <label for="mc51">
                            <input type="radio" name="answer" value="1" required="" id="mc51" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            Upward reactive force
                        </label>
                    </li>

                    <li>
                        <label for="mc52">
                            <input type="radio" name="answer" value="2" required="" id="mc52" class="form-check-input" onclick="document.getElementById('mc51').setCustomValidity('')">
                            The energy of movement
                        </label>
                    </li>

                    <li>
                        <label for="mc53">
                            <input type="radio" name="answer" value="3" required="" id="mc53" class="form-check-input" onclick="document.getElementById('mc51').setCustomValidity('')">
                            Newtons and distance
                        </label>
                    </li>

                    <li>
                        <label for="mc54">
                            <input type="radio" name="answer" value="4" required="" id="mc54" class="form-check-input" onclick="document.getElementById('mc51').setCustomValidity('')">
                            Gravity's relationship to mass
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
