{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>
    <form>
        <div class="form-group required">
            <label class="col-form-label" for="ao1">
                Which of these images <em>best</em> solves the problem in the first picture?
                <br>
                <img src="{% static objects1 %}"/>
            </label>
            <div class="controls  field-ao1">
                <ul id="ao1">
                    <li>
                        <label for="ao11">
                            <input type="radio" name="answer" value="1" required="" id="ao11" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            A
                        </label>
                    </li>

                    <li>
                        <label for="ao12">
                            <input type="radio" name="answer" value="2" required="" id="ao12" class="form-check-input" onclick="document.getElementById('ao11').setCustomValidity('')">
                            B
                        </label>
                    </li>

                    <li>
                        <label for="ao13">
                            <input type="radio" name="answer" value="3" required="" id="ao13" class="form-check-input" onclick="document.getElementById('ao11').setCustomValidity('')">
                            D
                        </label>
                    </li>

                    <li>
                        <label for="ao14">
                            <input type="radio" name="answer" value="4" required="" id="ao14" class="form-check-input" onclick="document.getElementById('ao11').setCustomValidity('')">
                            C
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
