{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}
<div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
<u>
<a onclick="window.open('{% static 'worker_Instructions3.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
    Click to review previous instructions
</a>
</u>
</div>

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="ao2">
                Which figure best shows how the objects in the left box will touch if the letters for each object are matched?
                <br>
                <img src="{% static objects2 %}"/>
            </label>
            <div class="controls  field-answer">
                <ul id="ao2">
                    <li>
                        <label for="ao21">
                            <input type="radio" name="answer" value="1" required="" id="ao21" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            B
                        </label>
                    </li>

                    <li>
                        <label for="ao22">
                            <input type="radio" name="answer" value="2" required="" id="ao22" class="form-check-input" onclick="document.getElementById('ao21').setCustomValidity('')">
                            A
                        </label>
                    </li>

                    <li>
                        <label for="ao23">
                            <input type="radio" name="answer" value="3" required="" id="ao23" class="form-check-input" onclick="document.getElementById('ao21').setCustomValidity('')">
                            C
                        </label>
                    </li>

                    <li>
                        <label for="ao24">
                            <input type="radio" name="answer" value="4" required="" id="ao24" class="form-check-input" onclick="document.getElementById('ao21').setCustomValidity('')">
                            D
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
