{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question {{ player.round_number }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group required">
            <label class="col-form-label" for="gs5">
                Which element has no neutrons?
            </label>
            <div class="controls  field-gs5">
                <ul id="gs5">
                    <li>
                        <label for="gs51">
                            <input type="radio" name="answer" value="1" required="" id="gs51" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                            helium
                        </label>
                    </li>

                    <li>
                        <label for="gs52">
                            <input type="radio" name="answer" value="2" required="" id="gs52" class="form-check-input" onclick="document.getElementById('gs51').setCustomValidity('')">
                            nitrogen
                        </label>
                    </li>

                    <li>
                        <label for="gs53">
                            <input type="radio" name="answer" value="3" required="" id="gs53" class="form-check-input" onclick="document.getElementById('gs51').setCustomValidity('')">
                            hydrogen
                        </label>
                    </li>

                    <li>
                        <label for="gs54">
                            <input type="radio" name="answer" value="4" required="" id="gs54" class="form-check-input" onclick="document.getElementById('gs51').setCustomValidity('')">
                            carbon
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% next_button %}

{% endblock %}
