{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
 Willkommen zum Experiment im Seminar für Innovationsökonomik
{% endblock %}

{% block content %}

<p>Willkommen zu diesem Experiment! Bitte lesen Sie sich die folgenden Instruktionen aufmerksam durch.</p>
<p>Sie können in diesem Experiment Geld verdienen. Ihre Auszahlung wird abhängig von ihren Entscheidungen in diesem Experiment und von einem Zufallszug sein.</p>

Klicken Sie auf "Weiter" um mit dem Experiment zu beginnen.
<br>

{% next_button %}

{% endblock %}
