{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
        <u>
            <a onclick="window.open('{% static 'pp_Instructions1.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                Click to review previous instructions
            </a>
        </u>
    </div>

    <p>
        In the following, you will be asked to <b>guess the performance</b> of workers in a prior task.
        These other workers answered <b>20 questions</b> on a <b>test from the Armed Service Vocational
        Aptitude Battery (ASVAB)</b>.
        Each question tested their aptitude in the following five categories:
        General Science, Arithmetic Reasoning, Math Knowledge, Mechanical Comprehension, and Assembling Objects.
    </p>
    <p>
        After completing this test, participants were asked to describe their performance on the test.
        Workers had an incentive to provide favourable descriptions of their performance since their earnings depended
        on being perceived as high performers on the test.
    </p>

    <br>

    {% next_button %}

{% endblock %}
