{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your task
{% endblock %}

{% block content %}

    <div style="position: absolute; top: 30px; right: 30px; width: 300px; text-align:right; cursor:pointer; color: dimgrey;">
        <u>
            <a onclick="window.open('{% static 'Instructions2.html' %}', '_blank', 'location=yes, height=570,width=520,scrollbars=yes,status=yes');">
                Click to review previous instructions
            </a>
        </u>
    </div>

    <p>
        <b><u>Your task</u></b>
    </p>
    <p>
        Next, you will see <b>40 descriptions</b> of the performance of these <b>workers from a previous task</b>
        on your screen. Based on the descriptions it is <b>your task to guess</b>:
    </p>
    <ol>
        <li>How many <b>questions</b> did <b>the worker get right</b> on the test</li>
        <li>What is the <b>gender of the worker</b></li>
    </ol>

    <br>

    <p>
        <b><u>Payment</u></b>
    </p>
    <p>
        You will receive your payment only if you complete the entire task. You receive <b>$0.30</b> for
        participating in the task. In addition, you can receive a <b>bonus of up to $3.00</b> depending on the accuracy
        of your guess.
    </p>
    <p>
        To determine the bonus, we will randomly choose one out of the <b>40</b> rounds after you completed the task.
    </p>

    <br>

    <p>
        <b><u>Number of correctly answered questions</u></b>
    </p>
    <p>
        For your prediction with respect to the number of correctly answered questions, payment depends on the
        deviation from the true number of correctly answered questions in the randomly determined round:
    </p>
    <ul>
        <li>
            If your answer deviates by <b>1 or less</b> questions your <b>bonus is $4.00</b>.
        </li>
        <li>
            If your answer deviates by <b>more than 1 and 2 or less</b> questions your <b>bonus is $2</b>.
        </li>
        <li>
            If your answer deviates by <b>more than 2</b> your <b>bonus is $0</b>.
        </li>
    </ul>

    <br>

    <p>
        <b><u>Prediction of gender</u></b>
    </p>
    <p>
        You have to guess the chance that the worker is female. Your guess will be used to determine your chances of
        winning the <b>bonus of 1$</b>. Your chance of winning the bonus is set so that more accurate guesses lead to a
        higher chance of winning.
    </p>
    <p>
        Your guess is a percentage probability from 0 to 100 – with 0 indicating a 0-out-of-100 chance that the gender
        of the worker is female and 100 indicating a 100-out-of-100 chance that the gender of the worker is female. The
        number you provide is called <i>Your Guess</i>. You choose <i>Your Guess</i> by clicking the response bar that
        will be shown on your screen. An example is displayed in figure 1. The width of the <b>red part</b> of the bar
        indicates <b>your guess that the worker is female</b>. The width of the <b>blue part</b> of the bar is 100 -
        <i>Your Guess</i> and represents <b>your guess that the worker is male</b>.
    </p>

    <br>

    {% next_button %}

{% endblock %}
